<div class="main" #mainCart *ngIf="display">
    <div class="item" *ngFor="let item of items">
        <div class="image">
            <img src="{{getItemData(item.id).gameCover}}">
        </div>
        <div class="content">
            <h2>{{getItemData(item.id).title}}</h2>
            <p>{{getItemData(item.id).gameDescription}}</p>
        </div>
        <div class="quantity">
            <button class="myButton">-</button>
            <label>{{item.quantity}}</label>
            <button class="myButton">+</button>
        </div>
    </div>
</div>
