<div class="menu-bar__contianer">
    <div class="menu-bar__logo">
        <a [routerLink]="['']">
            <img src="../../../assets/ps-logo.png" alt="" srcset="">
        </a>
    </div>
    <div class="menu-bar__item">
        <ul>
            <li><a href="https://www.youtube.com/channel/UCo5gp0mz-Qqi6HBAQaaFYRw">YOUTUBE</a></li>
            <li><a href="https://www.linkedin.com/in/lodemarjunior/">LINKEDIN</a></li>
            <li><a href="https://github.com/lodemarjunior">GITHUB</a></li>
        </ul>
    </div>
    <div class="menu-bar__cart">
        <img src="../../../assets/carrinho-compras.png" alt="" srcset="" (click)="openCart()">
        <label>{{quantity}}</label>
    </div>
</div>
